<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>创建markdown博文</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body style="font-weight: bolder;">
	<div class="container">
	<div th:if="${id} != null" class="m-4 border">
	新建了博文，id为<span th:value="*{id}"></span>
	</div>
		<h2>请输入</h2>

		<form th:action="@{blogEdit}" method="post">

			<div class="row justify-content-center" th:object="${blogContent}">
				<div class="col-10">
					title: <input type="text" class="w-100" th:field="*{title}"></input>
				</div>
				<div class="col-10 my-4">
					content:
					<textarea class="w-100" th:field="*{content}"></textarea>
				</div>
				<input type="hidden" th:field="*{id}"></input>
				<input type="hidden" th:field="*{createTime}"></input>
				<input type="hidden" th:field="*{modifyTime}"></input>
			</div>
			<button type="submit" class="btn btn-primary">创建</button>
		</form>
	</div>
</body>

</html>